[Layer 1]
icon=icon_plus
isCategory=true

    [Embedded 1]
    url=https://example.com/dashboard
    icon=icon_piechart
    iframe=true

    [Embedded 2]
    url=https://example.com/dashboard
    icon=icon_piechart
    iframe=true

    [Embedded 3]
    url=https://example.com/dashboard
    icon=icon_piechart
    iframe=true

[Layer 2]
icon=icon_plus
isCategory=true

    [Embedded 1]
    url=https://example.com/dashboard
    icon=icon_table
    iframe=true

    [Embedded 2]
    url=https://example.com/dashboard
    icon=icon_table
    iframe=true